.App {
  text-align: center;
  color: #fff;
}

* {
  scroll-behavior: smooth;
}
.container {
  background: #000;
  overflow: hidden;
}
.Box {
  max-width: 1380px;
}
.navbar {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-logo {
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
}
.z-bank {
  padding: 10px;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}
.nav-item {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
#title {
  color: #fff;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}
.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.nav-item:hover:after {
  width: 100%;
  background: #3ae8f1;
}

.nav-icon {
  display: none;
  position: absolute;
}
.menu-bank {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.nav-sb {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.sb {
  display: none;
  color: #fff;
  text-decoration: none;
}
.nav-sb:hover:after {
  width: 100%;
  background: #3ae8f1;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 960px) {
  .nav-sb {
    color: white;
  }
  .sb {
    display: inline;
    padding-bottom: 20px;
  }
  .nav-sb:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  .img-robot {
    width: 90%;
  }
  .bill-img {
    width: 90%;
  }
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
.list-none {
  list-style: none;
}

/*  columns */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
/* Navbar */
.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
}

.img-robot {
  width: 90%;
}

section {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}
#h1-col {
  color: #3ae8f1;
}
h1 {
  font-size: 60px;
}
.btnh {
  margin-top: 50px;
  margin-bottom: 50px;
}
/*  get started */
.gs-circle {
  border-radius: 50%;
  background-color: #3ae8f1a4;
  opacity: 10px;
  border: none;
  color: white;
  padding: 10px;
  width: 100px;
  height: 100px;
  filter: drop-shadow(10px 3px 6px);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
/* stats */
.stats {
  margin-top: 20px;
  margin-bottom: 20px;
}
.h4-stat {
  font-size: 25px;
}
.stat-t {
  font-weight: 300;
  color: #3ae8f1;
}
/* business */
.business {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.b-text {
  text-align: left;
  padding: 20px;
}
.h1-b {
  font-size: 60px;
}
.p-b {
  font-size: 18px;
}
/*  business */
.business-t {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.star-img,
.b-title,
.b-content {
  padding: 10px;
}
/* currency */
.input-c {
  width: 300px;
  height: 20px;
  padding: 10px;
  border-radius: 15px;
}
.sel-c {
  border-radius: 15px;
  padding: 10px;
}
/*  billimg */
.Billing {
  padding-top: 10px;
  margin: 20px;
}
.bill-img {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
.img-bil {
  width: 150px;
  padding: 10px;
}
.bill-t {
  padding: 10px;
}
/* card deal */
.card-img {
  width: 90%;
  padding: 10px;
}
.carddeal {
  padding-top: 10px;
  margin: 20px;
}
.cd-text {
  padding: 10px;
}
/*feedbackcard */

/* clients */
.id-cl {
  padding: 20px;
  display: inline-block;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.cl-img {
  object-fit: contain;
  width: 200px;
}
/* stocks */
.line-s {
  padding: 30px;
}
